<!DOCTYPE html>
<html lang="es-PE">
    <head>
    	<meta charset="UTF-8">
    	<title>IMAGE SEARCH ENGINE</title>
        {% load staticfiles %}
        <link type="image/x-icon" rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    	<link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    	<link href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="jumbotron text-center" style="background-color: #75747F;">
            <div class="container">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <form>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                    <input class="form-control" type="text" name="busqueda" required>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-default">SEARCH</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>